body{
  margin: 0;
  padding: 0;
}

/* ###############For Mutliple Image####################### */
section{
  width: 100%;
  height:100vh;
}

section .layer2{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/joker.jpg");
  background-attachment: fixed;
  background-position: center;
  transition:2s;
}

section .layer1{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 450px;
  background: #000;
  background: url("../../assets/img/joker.jpg");
  background-position: center;
  z-index: 1;
  transition:2s;
}

.layer1:hover{
  box-shadow: 0 25px 60px rgba(0, 0, 0, .8);

} 
/* ###############For Mutliple Image####################### */

/* ###############Login Form####################### */
.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}

.login_width{
  width:60%;
}


.login_left{
    float:right;
}

#formId{
  margin-left: 25%;
  margin-top: 10%;
}

/* ###############Login Form####################### */

/* ###############Login Button####################### */

button {
  width: 60%;
  height: 50px;
  border:none;
  border:solid 1px #6f6f6f;
  border-radius: 5px;
  background: rgba(255, 255, 255,0);
  font-size: 25px;
  color:#8e8e8e;
  cursor: pointer !important; 
}
button:focus{
  outline: none;
}

/* ###############Login Button####################### */

/* ########################################################## */

   .example-fill-remaining-space {
    flex: 1 1 auto;    
  } 

  /* ########################################################## */


/* #################Input Design####################################### */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  background: transparent;
  color: #999;
}
input:focus 		{ outline:none; }


label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#999;
}


.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#999; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}


input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}


.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}


input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}


@-webkit-keyframes inputHighlighter {
	from { background:#999; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#999; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#999; }
  to 	{ width:0; background:transparent; }
}

/* #################Input Design####################################### */