<div id="pageButton">
    <span>        
        <button mat-raised-button [routerLink]="'/Dashboard'" routerLinkActive="active">Home</button>
    </span>&nbsp;&nbsp;&nbsp;
    <span>
        <button mat-raised-button [routerLink]="'/Master-List'"  routerLinkActive="active">Master</button>        
    </span>&nbsp;&nbsp;&nbsp;
    <span>
        <button mat-raised-button [routerLink]="'/Billing-List'"  routerLinkActive="active">Billing</button>        
    </span>
    <span id="logout">
        <button mat-raised-button (click)="logout()">Log Out</button>
    </span>
</div>
<mat-card id="main_with">
    <mat-card-content>        
        <router-outlet><app-spinner></app-spinner></router-outlet>
    </mat-card-content>
</mat-card>

  <!-- <div [ngSwitch]="commonSwitch">
            <p *ngSwitchCase="'home'"><app-dashboard-list></app-dashboard-list></p>
            <p *ngSwitchCase="'master'"><app-master-list></app-master-list></p>
            <p *ngSwitchCase="'billing'"><app-billing-list></app-billing-list></p>
            <p *ngSwitchDefault><app-dashboard-list></app-dashboard-list></p>
        </div> -->   


 <!-- <ng-container
        *ngIf="isLoggedIn; then logIn; else logOut">
      </ng-container>
  
      <ng-template #logIn>
          Hello, Admin
      </ng-template>
  
      <ng-template #logOut>
          Please Signin
      </ng-template> -->