<!-- <ag-grid-angular #agGrid style="width: 100%; height: 530px;" class="ag-theme-balham"
    [gridOptions]="gridOptions"
    [columnDefs]="columnDefs"
    [showToolPanel]="showToolPanel"
    [rowData]="rowData"
    [defaultColDef]="defaultColDef"
    [enableCellChangeFlash]="true"
    (gridReady)="onGridReady($event)"
    ></ag-grid-angular> -->

<ag-grid-angular #agGrid style="width: 100%; height: 575px;" id="myGrid" class="ag-theme-balham" [modules]="modules"
  [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [columnTypes]="columnTypes" [rowData]="rowData"
  [groupDefaultExpanded]="groupDefaultExpanded" [suppressAggFuncInHeader]="true" [enableCellChangeFlash]="true"
  [animateRows]="true" (gridReady)="onGridReady($event)" (cellValueChanged)="onCellValueChanged($event)">
</ag-grid-angular>
<div style="float: right; padding: 1%;">
  <button mat-raised-button (click)="reset()">Reset</button>&nbsp;&nbsp;
  <button mat-raised-button (click)="save()">Save</button>&nbsp;&nbsp;
  <!-- <button mat-raised-button (click)="print()">Print</button> -->
</div>
<!-- 
    <ag-grid-angular
    #agGrid
    style="width: 100%; height: 530px;"
    id="myGrid"
    class="ag-theme-balham"
    [modules]="modules"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [columnTypes]="columnTypes"
    [rowData]="rowData"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [suppressAggFuncInHeader]="true"
    [enableCellChangeFlash]="true"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (cellValueChanged)="onCellValueChanged($event)"

  ></ag-grid-angular> -->